/* CSS declarations go here */
#render-target {
    background: white;
}

@media (max-width: 719px) {
    .hidden-when-small {
        display: none;
    }
}
@media (min-width: 720px) {
    .hidden-when-big {
        display: none;
    }
}

input, textarea {
    border: 2px solid lightgray;
    border-radius: 5px;
    text-align: center;
}
input::-webkit-input-placeholder { color:lightgray; }
input:-moz-placeholder { color:lightgray; } /* FF 4-18 */
input::-moz-placeholder { color:lightgray; } /* FF 19+ */
input:-ms-input-placeholder { color:lightgray; }
textarea::-webkit-input-placeholder { color:lightgray; }
textarea:-moz-placeholder { color:lightgray; } /* FF 4-18 */
textarea::-moz-placeholder { color:lightgray; } /* FF 19+ */
textarea:-ms-input-placeholder { color:lightgray; }

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; }
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; }

button:focus {outline: 0;}
textarea:focus {outline: 0;}
input:focus {outline: 0;}

button {
    background: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}

/* tooltips */
.tooltipcontainer {
    position: relative;
    display: inline-block;
}
.tooltipcontainer .tooltip {
    visibility: hidden;
    width: 160px;
    height: 40px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 80%;
    margin-left: -60px;
}
.tooltipcontainer:hover .tooltip {
    visibility: visible;
}
.tooltipcontainer .tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}